<div class="page-wrapper flex-container">
  <div class="flex"></div>
  <div class="page">
    <div class="page-title">Variáveis</div>
    <div class="page-content">
      <mat-tab-group>
        <mat-tab label="Lista"> Lista </mat-tab>
        <mat-tab label="Cadastro">
          <div class="mat-tab-content">
            <form [formGroup]="formGroupVariavel">
              <label>Variável</label>
              <div class="field-line">
                <mat-form-field>
                  <mat-label>Tipo</mat-label>
                  <mat-select formControlName="tipo">
                    <mat-option [value]="1">Variável</mat-option>
                    <mat-option [value]="2">Objeto</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="flex">
                  <input matInput placeholder="Nome" formControlName="nome">
                </mat-form-field>
              </div>
            </form>
            <form [formGroup]="formGroupValores" #f="ngForm">
              <label>Valores</label>
              <div class="field-line">
                <mat-form-field>
                  <input matInput placeholder="Nome" formControlName="nome">
                </mat-form-field>
                <div class="field-line">
                  <label>Base</label>
                  <mat-form-field class="number">
                    <input type="number" matInput placeholder="Início" formControlName="baseIni" [min]="0">
                  </mat-form-field>
                  <mat-form-field class="number">
                    <input type="number" matInput placeholder="Fim" formControlName="baseFim" [min]="0">
                  </mat-form-field>
                </div>
                <div class="field-line">
                  <label>Núcleo</label>
                  <mat-form-field class="number">
                    <input type="number" matInput placeholder="Início" formControlName="nucleoIni" [min]="0">
                  </mat-form-field>
                  <mat-form-field class="number">
                    <input type="number" matInput placeholder="Fim" formControlName="nucleoFim" [min]="0">
                  </mat-form-field>
                  <button mat-icon-button (click)="addValue()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
              <div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="valor">
                    <th mat-header-cell class="flex" *matHeaderCellDef> Valor </th>
                    <td mat-cell class="flex" *matCellDef="let element"> {{element.nome}} </td>
                  </ng-container>

                  <ng-container matColumnDef="base">
                    <th mat-header-cell *matHeaderCellDef> Base </th>
                    <td mat-cell *matCellDef="let element"> {{element.baseIni + '/' + element.baseFim}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nucleo">
                    <th mat-header-cell *matHeaderCellDef> Núcleo </th>
                    <td mat-cell *matCellDef="let element"> {{element.nucleoIni + '/' + element.nucleoFim}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell class="actions" *matHeaderCellDef></th>
                    <td mat-cell class="actions" *matCellDef="let element">
                      <button mat-icon-button>
                        <mat-icon>close</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="flex"></div>
</div>